body{
	margin: 0;
	font-family:'Didact Gothic', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #6E9BCA;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Orbitron', sans-serif;
}

header h1{
	color: white; 
	text-transform: uppercase;
	font-size: 60px;

}

header img{
	border-radius: 170px;
	width: 300px;
	border: 15px solid #456789
}

main{
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #6CA0D6;
	margin: 40px 0px 0px;
}

a{
	color: #6CA0D6;
}

a:hover{
	color: white;
	background-color: #9CBAD8;
}

footer{
	background-color: #6E9BCA;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0px;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-size: 15px;
	font-style: italic;
	margin-top: 0px;
}

p{
	margin: 0px;
}







